{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Product detail' %}{% endblock %}

{% block extrahead %}
    {#    <script src={% static 'movie_st/product_detail.js' %}></script>#}
{% endblock %}

{% block onload %}"OnloadProductDetail()"{% endblock %}
{% block section1 %}

    <p style="color: crimson">Average Rate: {{ rating }}</p>

    <center>

        <div class="row" style="">
            <div class="col-12 col-md-12">
                <h2>{% trans 'Movie Name:' %} {{ movie.name }}</h2>
                <br>
                <p>{% trans 'Movie Director:' %} {{ movie.director }}</p>
                <br>
            </div>
        </div>
        {% if movie.description %}
            <div class="row">
                <div class="col">
                    <h3>{% trans 'Description' %}</h3>
                    <p>{{ movie.description }}</p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <h3 style="color: cornflowerblue"> Write a comment for this movie</h3>
            <form method="POST" id="form" enctype="multipart/form-data" class="form-control"
                  style="background-color: rgba(0,0,0,0.21)">
                <!-- Security token -->
                {% csrf_token %}
                <!-- Using the formset -->
                {{ comment_form.as_p }}
                <input type="submit" id="btn" value="Submit"
                       style="margin: 5px; border: none; padding: 5px; color: rgba(6,172,26,0.83); border-bottom: 3px solid #26d63b;">
            </form>
        </div>


        <div class="row">
            <br>
            <hr>
            <h3 style="color: cornflowerblue">{{ comments.count }} Comments</h3>
            {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <hr>
                    <p class="font-weight-bold">
                        {{ comment.user.username }} - rate: {{ comment.rating }}<br>
                        <span class=" text-muted font-weight-normal">
              date: {{ comment.creat_timestamp }}
            </span>
                    </p>
                    {{ comment.passage | linebreaks }}
                </div>
            {% endfor %}

        </div>


    </center>
{% endblock %}

